
/* Your CSS Code here. */
.btn btn-primary{
	background:blue;
	color:white;
}
.btn btn-outline-secondary{
	background:white;
	color:grey;
}
.btn btn-success btn-lg{
	background:green;
	color:white;
	height:30px;
}
.btn btn-danger btn-sm{
	background:red;
	color:white;
}
.btn btn-warning btn-lg btn-block{
	background:yellow;
	color:black;
	width:100%;
}
.btn btn-info disabled{
	background:cyan;
	color:white;
}
.btn btn-light{
	background:white;
	color:black;
}
.btn btn-link{
	background:white;
}
